# Copyright (c) 2015, 2024 YCSB contributors.
# All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you
# may not use this file except in compliance with the License. You
# may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied. See the License for the specific language governing
# permissions and limitations under the License. See accompanying
# LICENSE file.
# For more info, see: http://EditorConfig.org

# Top-level settings
root = true

# Java files
[*.{java}]
indent_style = space
indent_size = 4
continuation_indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown files
[*.md]
indent_style = space
indent_size = 2
continuation_indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# XML files
[*.{xml,html,xhtml,yml,yaml,json}]
indent_style = space
indent_size = 2
continuation_indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true